<a href="https://colab.research.google.com/github/Rozina22/SQL_Data_Cleaning/blob/main/Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
url ='https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text,'html')
print(soup)

In [ ]:
#<table class="wikitable sortable jquery-tablesorter">
#<caption>

In [10]:
table = soup.find_all('table')[1]

In [11]:
world_titles = table.find_all('th')
world_table_titles = [title.text.strip() for title in world_titles]
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [12]:
import pandas as pd
df = pd.DataFrame(columns = world_table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [25]:
column_data = table.find_all('tr')
for row in column_data[1:]:
  row_data = row.find_all('td')
  individual_row_data =[data.text.strip() for data in row_data]

  length =len(df)
  df.loc[length] = individual_row_data

In [26]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,100,Nucor,Metals,"36,484",81.2%,"28,800","Charlotte, North Carolina"
1,1,Walmart,General merchandisers,"572,754",2.4%,"2,300,000","Bentonville, Arkansas"
2,2,Amazon,Retail and Cloud Computing,"469,822",21.7%,"1,608,000","Seattle, Washington"
3,3,Apple,Electronics industry,"365,817",33.2%,"154,000","Cupertino, California"
4,4,CVS Health,Healthcare,"292,111",32.0%,"258,000","Woonsocket, Rhode Island"
...,...,...,...,...,...,...,...
397,96,General Dynamics,Airspace and defense,"38,469",8.7%,"103,100","Reston, Virginia"
398,97,CHS,Agriculture cooperative,"38,448",1.4%,"9,941","Inver Grove Heights, Minnesota"
399,98,USAA,Financials,"37,470",3.2%,"37,335","San Antonio, Texas"
400,99,Northwestern Mutual,Insurance,"36,751",8.8%,"7,585","Milwaukee, Wisconsin"
401,100,Nucor,Metals,"36,484",81.2%,"28,800","Charlotte, North Carolina"

In [31]:
df.to_csv(r'C:\Users\Abro27\OneDrive\Python web scraping\Companies.csv', index = False)